{%extends "base.html"%}

{% block title %} Jamoamiz {% endblock %}

{% block body %}
<style>
    p {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
   }
</style>

    <br>
    <div class="container py-3" style="max-width: max-content;">
        <div class="card-deck">

            <div class="card" style="height: 72vh; border: none;">
                <img class="card-img-top rounded-circle" src="{{url_for('static', filename='image/Khondamir.jpg')}}" alt="Xondamir" style="height: 50vh;">
                <div class="card-body text-center">
                    <h5 class="card-title">Xondamir Rustamov</h5>
                    <p class="card-text text-muted">BioDataBank asoschisi</p>
                    <p class="card-text text-muted">Bosh dasturchi</p>
                </div>
            </div>

            <div class="card" style="height: 72vh; border: none;">
                <img class="card-img-top rounded-circle" src="{{url_for('static', filename='image/Akbar.jpg')}}" alt="Akbar" style="height: 50vh;">
                <div class="card-body text-center">
                    <h5 class="card-title">Akbar Gafurov</h5>
                    <p class="card-text text-muted">Dasturchi</p>
                    <p class="card-text text-muted">Web-dizayn</p>
                </div>
            </div>

            <div class="card" style="height: 72vh; border: none;">
                <img class="card-img-top rounded-circle" src="{{url_for('static', filename='image/Bobur.jpg')}}" alt="Bobur" style="height: 50vh;">
                <div class="card-body text-center">
                    <h5 class="card-title">Bobur Choriyev</h5>
                    <p class="card-text text-muted">Kontent yaratuvchi</p>
                    <p class="card-text text-muted">Botanik</p>
                </div>
            </div>

        </div>
    </div>
    <br>

{% endblock %}